<button nz-button nzType="primary" (click)="show()">Add channel</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Nouveau Channel" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="save()"
  (nzOnCancel)="hide()">

  <form class="modal-content" name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
    <nz-form-item [ngClass]="{ 'has-error': f.submitted && !name.valid }">
      <label for="name">Nom</label>
      <input type="text" required nz-input name="name" #name="ngModel" [(ngModel)]="model.name" />
      <nz-form-explain *ngIf="!name.valid" class="help-block">Nom requis</nz-form-explain>
    </nz-form-item>
  </form>
</nz-modal>

<style>
  :host {
    display: block;
    text-align: center;
    padding: 15px;
  }

  .modal {
    text-align: left;
  }

</style>
